name: Update README

on:
  push:
    branches: [ master ]  # 또는 main
    paths:
      - 'baekjoon/**'     # baekjoon 폴더가 변경될 때만 실행
      - 'update_readme.py'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
        
    - name: Install dependencies
      run: |
        pip install requests

    - name: Run script
      run: python update_readme.py

    - name: Commit changes
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add README.md
        git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update README" && git push)